html{
    font-size: 62.5%;
}
body{
    background-color: rgb(58, 55, 55);
    background-image: url(../images/image3.jpg);
    height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Open Sans', sans-serif;
    margin: 0rem;
}
.left{
    
    color: white;
    text-align: center;
    top: 50%;
    
}
.material{
    font-family: sans-serif;
    font-size: 6rem;
}
.right{
    text-align: center;
    color: red;

}
.cse{
  color: white;
    margin-top: 10rem;
    transition-delay: 0.3s;
}
.years{
    text-align: center;
    width: 50%;
    padding: 2rem;
    display:block;
    background-color: white;
    margin-bottom: 1.5rem;
    color: black;
    border-radius: 1rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: 1rem;
    text-decoration: none;
    font-size: large;
    
}
.back{
    text-overflow: inherit;
    width: 15%;
    float: right;
    margin-right: 50%;
    height: 9%;
    background-color: #202124;
    color: white;
}
.back:hover{
    transition-duration: 0.4s;
    background-color: transparent;
    color: white;
    border-color: grey;

}

.para{
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 1.5rem;
}
.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-left: 35%;
    
}
.years:hover{
    transition-duration: 0.4s;
    background-color: transparent;
    color: white;
    border-color: white;
}
.nav{
    background-color: white;
    margin-top: 0rem;
    height: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.img{
    height: 3rem;
}
@media (min-width:320px) {
    html{
        font-size: .5rem;
        height: 150rem;
    }
    .years{
        width: 60%;
        margin:2rem;
    }
}
@media (min-width:480px) and (max-width:768px) {
    html{
        font-size: .5rem;
        height: min-content;
    }
    .years{
        width: 50%;
        margin:1rem;
    }
}




