<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/style.css">
    <title>Vjit Notes</title>
</head>
<body>
    <div class="nav">
        <div class="img">
        <img src="https://vjit.ac.in/wp-content/uploads/2020/06/vjit_logo.png" height="50"alt="">
    </div>
    </div>
    <div class="left">
         <h1 class="material">Vidya Jyothi Institute of Technology</h1>
         <p class="para">What were the chances? It would have to be a lot more than 100 to 1. It was likely even more than 1,000 to 1. The more he thought about it, the odds of it happening had to be more than 10,000 to 1 and even 100,000 to 1. People often threw around the chances of something happening 
            as being 1,000,000 to 1 as an exaggeration of an unlikely event, but he</p>
    </div>
    <div class="right">
        <h1 class="cse">CSE {{year}}</h1>
        <div class="buttons">
            <form action=""><button class="years">{{sem}} semester</button></form>
            <form action=""><button class="years">{{sem2}} semester</button></form>
             <form action="/"><button class="back">Go Back</button></form>
        </div>
    </div>
</body>
</html>